
/* Reorders the Full Record Sections witht he aim of moving the 'Send to' Section below the View It / Get It Sections */
/* See email from Yongli Zhou, forward to Tony from Primo List 20/11/2017 */
#getit_link1_0 { order: 0; }
#getit_link2_0 { order: 1; }
#action_list{ order: 2; } /* send to */
#details { order: 3; }
#links { order: 4; }
#citations { order: 5; }
#virtualBrowse { order: 6; }
.full-view-inner-container {
padding-bottom: 10em;
display: flex;
flex-direction: column;
}
[aria-label="View it"] { order: 0 !important; }
[aria-label="Get it"] { order: 1 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Details"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Citations"] { order: 5 !important; }
[aria-label="Virtual Browse"] { order: 6 !important; }



/*Uncomment the follwoing lines to move facets to the left*/


prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row-reverse wrap;
}

.screen-gt-sm .sidebar {
    -webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}


prm-logo .product-logo {
    cursor: pointer;
    height: 100%;
    padding: .8em;
}

.default-card{
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  color: #5c92bd;
}

.message-important {
  color: red;
}

.icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 17px;
  padding-top: 18px;
}

.icon-ask {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG.png');
}

.icon-libweb {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/www-PNG.png');
}

.icon-databases {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/databases-PNG.png');
}

.icon-eJournals {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/eJournals-PNG.png');
}

.icon-libguides {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/libGuides-PNG.png');
}

.icon-libaccount {
  background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/account-PNG.png');
}

.libraryh3lp {
  display: inline;
  border: none;
}

/* Top Bar */

/* hide language selection */
prm-change-lang {
  display: none;
}

/* hide library card and settings buttons*/
prm-library-card-menu {
  display: none;
}

/* Hide 'Related Reading' strip */
prm-recomendations {
  display: none;
}

/* Hide 'Tags' */
/* tags div */
div#tags {
  display: none;
}

/* tags left menu option */
[aria-label~="Tags"] {
    display: none;
}

prm-top-nav-bar-links-after {
  border-right: 0.5px solid #3D5B72;
  font-size: 11.25px;
  font-weight: 600;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.3375px;
  line-height: 13.5px;
  margin: 3px;
  min-width: 100px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

prm-top-nav-bar-links-after div.libraryh3lp {
  color: #BFC8CF;
}

prm-top-nav-bar-links-after div.libraryh3lp:hover {
  color: #4D6B82;
}


prm-top-nav-bar-links-after div.libraryh3lp a {
  color: #BFC8CF;
}

prm-top-nav-bar-links-after div.libraryh3lp a:hover {
  color: #FFF;
  background-color: #3D5B72;
}


prm-top-nav-bar-links-after div.spacer {
  padding: 20px;
}

prm-top-nav-bar-links-after div.spacer:hover {
  color: #4D6B82;
  background-color: #3D5B72;
}


/* Hides 'Alert Bar' on Brief Results page */
/* The Alert Bar was causing confusing amongst users who though they had to sign in to search */
prm-alert-bar {
  display: none;
}


/*Footer*/
/*Address in footer*/
prm-explore-footer-after .library-address {
  text-align: center;
  min-width: 300px;
  padding-bottom: 5em;
}

@media screen and (min-width:600px){
  prm-explore-footer-after .library-address {
    margin-right: 75%;
    margin-left: 35%;
  }
}

/*RefChatter Widgit*/

@media print {
  .chat-widget {
  display: none;
  }
}

@media screen and (min-width: 1024px) {
  .chat-widget {
    border: none;
    padding:none;
    margin:none;
    top: 200px;
    height: 400px;
    position: fixed;
    right: 0px;
    transition: all 0.5s ease 0s;
    z-index: 10;
  }

  .chat-widget {
  max-width: 500px;
  }

  .chat-widget-closed {
    transition: all 0.5s ease 0s;
    right: -400px
  }
  .chat-widget-opened {
    max-width: 500px;
  }
  .chat-widget-button {
    position:relative;
    background: #4D6B82 none repeat scroll 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    height: 80px;
    text-align: center;
    vertical-align: top;
    right: -5px;
    width: 60px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .chat-widget-button:active, .chat-widget-button:hover {
    background-color: #F3F3F3;
    color: #4D6B82;
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
  }

  .chat-button-label {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: text-top;
  }

  .chat-button-label::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG-light.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;

    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-button-label:hover::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;

    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-widget-button button, button.chat-widget-button {
    background: #4D6B82 none repeat scroll 0 0;
    color: #fff;
    margin: 0;
    margin-right:2px;
  }

  .chat-widget iframe {
    position: relative;
    margin: 0px;
    border: 0px;
    padding:0px;
    height: 100%;
    max-height: 400px;
    width: 400px;
    right: 0px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 501px) {
  .chat-widget {
    border: 0;
    padding:0;
    margin:0;
    top: 200px;
    height: 400px;
    position: fixed;
    right: 0px;
    transition: all 0.5s ease 0s;
    z-index: 10;
  }

  .chat-widget {
  max-width: 500px;
  }

  .chat-widget-closed {
    transition: all 0.5s ease 0s;
    right: -400px
  }
  .chat-widget-opened {
    max-width: 500px;
  }
  .chat-widget-button {
    position:relative;
    background: #4D6B82 none repeat scroll 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    height: 80px;
    text-align: center;
    vertical-align: top;
    right: -5px;
    width: 60px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .chat-widget-button:active, .chat-widget-button:hover {
    background-color: #F3F3F3;
    color: #4D6B82;
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
  }

  .chat-button-label {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: text-top;
  }

  .chat-button-label::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG-light.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;
    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-button-label:hover::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;

    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-widget-button button, button.chat-widget-button {
    background: #4D6B82 none repeat scroll 0 0;
    color: #fff;
    margin: 0;
    margin-right:2px;
  }

  .chat-widget iframe {
    position: relative;
    margin: 0px;
    border: 0px;
    padding:0px;
    height: 100%;
    max-height: 400px;
    width: 400px;
    right: 0px;
  }
}

@media screen and (max-width: 500px){
  .chat-widget {
  border: none;
  bottom: 0;
  height: 0;
  max-height: 400px;
  max-width: 97.5%;
  position: fixed;
  right: 0%;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 10;
  }

  .chat-widget {
    max-width: 500px;
  }

  .chat-widget-closed {
    height: 36px;
  }

  .chat-widget-opened {
    height: 100%;
    max-height: 400px;
  }

  .chat-widget-button {
    position:relative;
    background: #4D6B82 none repeat scroll 0 0;
    border: 0 none;
    font-size: 100%;
    height: 36px;
    outline: 0 none;
    padding: 0 1em;
    text-align: right;
    float: right;
    width: 37%;
    border-top-left-radius: 90%;
    border-top-right-radius: 0%;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }

  .chat-widget-button:active, .chat-widget-button:hover {
    background-color: rgb(189, 198, 204);
    color: #4D6B82;
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
  }

  .chat-button-label {
    display: inline-block;
    padding-top: 2px;
  }

  .chat-button-label::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG-light.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 25px;
    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-button-label:hover::before {
    background-image: url('/primo-explore/custom/DEV-JS-BOTTOM/img/ask-PNG.png');
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 25px;
    position: relative;
    top: 2px;
    width: 36px;
  }

  .chat-widget-button button, button.chat-widget-button {
    background: #4D6B82 none repeat scroll 0 0;
    color: #fff;
    margin: 0;
  }

  .chat-widget iframe {
    border: medium none;
    height: 100%;
    max-height: 362px;
    width: 100%;
  }

  .chat-button-control {
    color: #888;
    float: right;
    font-size: 140%;
    font-style: normal;
    font-weight: 400;
  }
}
